---
import Main from "../layouts/main.astro";
import { v4 as uuidv4 } from "uuid";

const cookieUserId = Astro.cookies.get("user_id")
let userId = cookieUserId?.value ?? ""

if (cookieUserId?.value === undefined) {
	userId = uuidv4();
	Astro.cookies.set("user_id", userId);
}
---
<Main>
	<dialog id="chat" class="block w-full h-auto bg-base-200 p-4 pb-20 min-h-full">
	</dialog>

	<section class="fixed bottom-0 left-0 w-full h-20 flex justify-between items-center">
		<input id="userId" type="hidden" value=`${userId}` />
		<input
			id="messageInput"
			placeholder="Your Message..."
			type="text"
			class="input w-full h-full rounded-none"
		/>
		<button
			id="sendMessage"
			class="btn btn-lg btn-primary right-0 bottom-0 h-full rounded-none w-40"
			>Send</button
		>
	</section>

	<script is:inline>
		const chat = document.getElementById('chat')
		const input = document.getElementById("messageInput")
		const userId = document.getElementById('userId')
		const btn = document.getElementById("sendMessage")
		const socket = new WebSocket("ws://localhost:3000/");

		socket.addEventListener("open", (event) => {
			console.log('connected');
		});

		socket.addEventListener("message", (event) => {
			chat.innerHTML = ""
			JSON.parse(event.data).forEach(message => {
				const chatWrapper = document.createElement('div')
				const chatContent = document.createElement('div')
				chatContent.textContent = message.message
				chatWrapper.append(chatContent)

				if (message.user_id === userId.value) {
					chatWrapper.classList.add('chat', 'chat-end', 'h-fit')
					chatContent.classList.add('chat-bubble', 'chat-bubble-primary')
				} else {
					chatWrapper.classList.add('chat', 'chat-start', 'h-fit')
					chatContent.classList.add('chat-bubble', 'chat-bubble-secondary')
				}

				chat.append(chatWrapper)
			});
		});

		socket.addEventListener('close', (event) => {
			console.log('disconnected')
		});

		socket.addEventListener('error', e => {
			console.log(e);
		})

		btn.addEventListener('click', () => {
			socket.send(
				JSON.stringify({
					message: input.value,
					user_id: userId.value,
				}),
			);

			input.value = ''
		});
	</script>
</Main>
