---
import Nav from "../components/nav.astro";
---

<html>
  <head>
    <meta charset="utf-8">
    <title>Meine coole Astro-Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <Nav />
    <div class="max-w-5xl m-auto mt-20 overflow-hidden">
      <slot />
    </div>
  </body>
</html>